<td style="padding-bottom: 20px;padding-left: 10px;font-size: 14px;font-weight: normal;
           font-family:'Open Sans',arial,sans-serif;line-height: 24px; text-align: justify;">

  <table cellpadding="0" cellspacing="0" border="0" style="margin-top: 20px;width: 100%;">
    <tbody>
      <tr>
        <td style="background: #3700fd; padding: 20px; text-align: center;">
          <h1 style="color: #fff;"><%= @proposal.title %></h1>
        </td>
      </tr>
    </tbody>
  </table>

  <% if @proposal.image.present? %>
    <%= image_tag @proposal.image.attachment.url(:large), style: "max-width: 100%;" %>
  <% else %>
    <%= image_tag "default_mailing.jpg", style: "max-width: 100%;" %>
  <% end %>

  <p><%= t("mailers.new_actions_notification.hi")%></p>
  <p><%= t("mailers.new_actions_notification.introduction") %></p>
  <br>
  <%= t("mailers.new_actions_notification.actions") %>
  <ul>
    <% @new_actions.each do |action| %>
      <li><%= action.title %></li>
    <% end %>
  </ul>

  <table style="width: 100%;">
    <tbody>
      <tr>
        <td style="padding-bottom: 12px; padding-top: 24px; text-align: center;">
          <%= link_to proposal_dashboard_url(@proposal),
                      style: "font-family: 'Open Sans',arial,sans-serif; background: #3700fd;
                      border-radius: 6px; color: #fff !important; font-weight: bold;
                      padding: 17px 20px; text-align: center; text-decoration: none;
                      font-size: 20px; min-width: 200px; display: inline-block;",
                      target: "_blank" do %>
            <%= t("mailers.new_actions_notification.dashboard_button") %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

</td>
